#Ignore thumbnails created by Windows
Thumbs.db
#Ignore Certificates
*.p12
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/.idea/
/output/
ca.pem
intermediate.pem
key.pem
public.pem
.DS_Store
coverage
.sonarqube
node_modules
.env
