services:
  postgres:
    image: postgres:18
    container_name: legacy_postgres
    environment:
      POSTGRES_DB: legacy_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

volumes:
  postgres_data:
